@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 100%;
    dapping-top: 25px;

}

#content0{
    width:70%;
    display: inline-block;
    float: left;
}
#content1{
    width:24%;
    height:100px;
    display: inline-block;
    margin-left:3%;
}

#list1{

}

h1 {
    display:inlinr-block;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 24px;
    color: #eeeeee;
    text-align: center;
}
.login{
    text-align: right;
}

h2 {
    font-size: 36px;
    margin-top: 80px;
    margin-bottom: 15px;
    text-align: center;
}
.details{
    text-align:center;
    margin-bottom: 80px;
}

h3{
    margin-top:20px;
    font-size: 20px;
    margin-bottom: 15px;

}

.time0{
    text-align: right;
}

.time1{
    display:inline-block;
    width:100%;
    margin-bottom:29px;
    padding-bottom:500px
}

.lefttime{
    display:inline-block;
    margin-left:3%;

}

.centertime{
    text-align: center;
}
.rightime {
    display:inline-block;
    float:right;
}

progress{
    margin-left: 3%;
    width: 97%;
    height: 70px;
}

#chooes0{
    margin-top:110px;
    padding-top:110px;
    float:right;
}

#chooes1{
    margin-top:50px;
    float:right;
}

table,tbody, tr, th, td{
    border: none;
}

#time_list{
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    width: 100%;
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    height:40px;
    position: absolute;
    bottom: 0;
}